#results {
  overflow-x: hidden;
  overflow-y: auto;
  .autocomplete-option {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #ffff;
  } 

  .autocomplete-option:hover {
    background-color: #f0f0f0;
    color: black;
  }
}


#searchInput {
  width: 250px;
}

.popup-content {
  width: 400px;
  overflow-x: hidden;
  margin: 12px;
}

h2 {
  font-family: Arial, "Helvetica Neue", sans-serif;
  color: #ffff;
}

body {
  background: #15202b;
}

.popup-header {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-version {
  color: white;
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 0.6em;
  right: 8px;
  position: fixed;
}

.popup-search {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

#searchButton {
    padding: 8px;
    margin-left: 8px;
}

.departements-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: Arial,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0,0,0,.25);
  margin-bottom: 28px;
}

#select-departements {
  width: 200px;
}

.app-icon {
  width: 32px;
  margin-right: 8px;
}

.footer {
  margin-top: 10px;
}

.footer > p {
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  color: #ffff;
  font-style: italic;
}


.etatcivil-content {
  .archives-select {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-evenly;
    color: white;
    font-family: Arial, "Helvetica Neue", sans-serif;
  }
}